/*preset*/
*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin:0;
	padding:0;
}


h1{
	font-size:50px;
    font-family: 'Playfair Display', serif;;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: left;
}


p{
	font-size:20px;
    padding-top: 20px;
}

#title {
    text-align: left;
}

#right {
     text-align: right;
    padding-left: 100px;
}

.show{
	text-decoration:none;
	display:inline-block;
	padding:10px;
	color: #ffc6c6;
    font-weight: bold;
}

.show:hover{
	color: #cba6a7;
}


/*Nav*/
header{
	position:relative;
}

nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
	/*position:relative;
	top:41px;
	left:37px;*/
}

nav ul{
	list-style: none;
}

nav li{
	display:inline-block;
}

nav a{
    float: left;
	display:block;
	padding:10px;
	text-decoration: none;
    color: grey;
    
}

nav a:hover{
	color: #cba6a7;
}

/*hero*/

#hero{
	height:100vh;
	display:flex;
	align-items: center;
	justify-content:center;
}

#hero div{
	padding:20px;
	text-align: center;
	max-width:1000px;
	border-radius:10px;
}

#hero h1, #hero p{
	margin-bottom:20px;
}

/*portfolio*/

#port{
	padding:40px 0px;
    background:linear-gradient( #ffd8d8, #fff );
    height: 100vh;
    
}

#port a {
    text-decoration: none;
    color: #cba6a7;
}

#port a:hover {
    text-decoration: none;
    color: #fff;
}

#port h1, #port p{
	text-align:center;
	max-width:1000px;
	margin:20px auto;
    color: #cba6a7;
}

#port img{
	max-width:100%;
    border-radius:50%;
	
}

#port .col{
	padding:10px;
	text-align:center;
}


#portpage h1{
    text-align:center;
	max-width:1000px;
	margin:40px auto;
    color: #cba6a7;
}

#portpage p{
    text-align: center;
    max-width: 1000px;
    margin: 15px auto;
    color: #cba6a7;
}

#gallery{
    background:linear-gradient( #ffd8d8, #fff );
    
}
/* column */
.container{
	max-width:1000px;
	margin:0 auto;
    margin-top: 15vh;
}

.container:after{
	content:"";
	display:block;
	clear:both;
}

.col{
	float:left;
}

.c3{
	width:33.333333%;
}

.c2{
	width:50%;
}

div.col.c2 a{
    text-decoration: none;
    color: #ffc6c6;
}

div.col.c2 a:hover{
    text-decoration: none;
    color: #cba6a7;
}


/*cta*/
#cta{
	padding:40px 0px;
	text-align: center;
}

#cta h1, #cta p{
	margin-bottom: 20px;
}


/*footer*/
footer{
	padding:20px 0px;
	text-align: center;
    
}

footer p{
	font-size:14px;
}
